*{
	box-sizing: border-box;
	user-select: none;
}
div {
	width:100%;
	padding: 0px;
	margin: 0px;
}
html,body{
	width:100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	position: relative;
	font-size: 20px;
	line-height: 31px;
	font-family:"Times New Roman",Georgia,Serif;
}
input,button,select,textarea{
	outline:none;
	border:0px;
	background-color: transparent;
}

#header{
	height: 31px;
	line-height: 31px;
	font-size: 39px;
	font-weight: bolder;
	transition:all 0.3s;
	z-index: 999;
}
#header div{
	width:auto;
}
#body{
	width:100%;
	position: absolute;
	top:31px;
	bottom: 0px;
	z-index: 99;
}