#playerContent video::-webkit-media-controls-enclosure {
    display: none !important;
}
div#playerContent{
	width: 100%;
    height: 100%;
    background-color: #FFF;
	position: relative;
	z-index: 1;
}
div#playerContent video{
	position: absolute;
	top:0px;
    width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(200, 200, 200, 0.8);
}
div#playerControl{
	z-index: 100;
    width:auto;
    height: auto;
    position: absolute;
	height:200px;
	/* top:0px;  */
	bottom: 0px;
    left:0px;
	right:0px;
	/* background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0)); */
}
.play-btn {
	width: 42px;
	height:42px;
	padding: 0px;
	position: absolute;
	bottom: 9px;
	left: 12px;
	background-color: transparent;
	border:0px;
	cursor:pointer;
	outline:none;
}
.play-progress {
	/* width:100%; */
	/*solid red;/*rgba(200, 200, 200, 0.8);*/
	width: auto;
    height: 3px;
    background-color: #fff;
	background-origin: content-box;
    position: absolute;
	left:12px;
	right: 12px;
    bottom: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	/* border-top: 3px solid rgba(200, 200, 200, 0.8);
	border-bottom: 3px solid rgba(200, 200, 200, 0.8);  */
	cursor: pointer;
}
.play-progress div {
	width: 30%;
	height: 100%;
	/* position: absolute;
	left: 0px;
	top: 0px; */
	display: block;
	background-color: #8CEA00;
	cursor: pointer;
}
.play-time {
	display: block;
	width: auto;
	position: absolute;
	left: 67px;
	bottom: 4px;
	height: 42px;
	line-height: 42px;
	font-size: 24px;
	font-family: sans-serif;
	user-select: none;
	color: #fff;
	cursor: default;
}
.play-time div {
	display: inline;
}
.play-mute {
	height: 46px;
	width: 46px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	bottom: 3px;
	left: 200px;
	cursor: pointer;
}
.play-volume {
	display: block;
	width: 100px;
	height: 3px;
	position: absolute;
	left: 250px;
	bottom: 25px;
	background-color: #fff;
	cursor: pointer;
}
.play-volume div{
	display: block;
	height:100%;
	background-color: #8CEA00;
	width: 50%;
}
.play-fullscreen {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 12px;
	padding: 0px;
}
.ytp-svg-shadow{
	stroke: #999;
	stroke-opacity: .15;
	stroke-width: 2px;
	fill:none;
}
.ytp-svg-fill{
	fill: #eee;
}
.play-btn svg path,.play-fullscreen svg path,.play-mute svg path,.play-progress div,.play-volume div{
	transition: all .3s ease-out;
}
/* 
div#html5playerbox{
	width: 100%;
	height:100%;
	
	
}
#html5playerbox video{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	display: block;
}
div#html5playerbox:hover div#html5playercontrolbar{
	display: block;
}
div#html5playercontrolbar{
	display: none;
	position: absolute;
	width:100%;
	bottom:0px;
	left:0px;
	height: 145px;
	padding-top:100px;
	z-index: 2147483747;
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
div#html5playercontrolbar > #playpausebtn {
	width:36px;
	height:36px;
	position: absolute;
	bottom: 0px;
	background-color: transparent;
	border:0px;
	cursor:pointer;
	outline:none;
}
div#html5playercontrolbar > #time{
	display: inline-block;
	line-height:36px;
	position: absolute;
	padding: 0 3px;
	bottom: 0px;
	left:40px;
	color: #fff;
	font-family: Roboto,arial,sans-serif;
	font-size:14px;
}
div#html5playercontrolbar > #fullscreen{
	width:36px;
	height:36px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: transparent;
	border: 0xp;
	cursor: pointer;

}
div#html5playercontrolbar > #fullscreen >g{
	-webkit-transition:none;
	background-color: red;
}
div#html5playercontrolbar > #mute{
	position: absolute;
	width: 36px;
	height:36px;
	bottom: 0px;
	left:105px;
	cursor:pointer;
}
div#html5playercontrolbar > #volume{
	position: absolute;
	width: 50px;
	height:3px;
	bottom: 16px;
	left:140px;
	background-color: #fff;
	cursor:pointer;
}
div#html5playercontrolbar > #volume > #volumeleft{
	width:60%;
	background-color: #8CEA00;
	height: 100%;
}
div#html5playercontrolbar > #progress{
	display: inline-block;
	position: absolute;
	width:98%;
	height: 3px;
	margin: 0 1%;
	bottom: 40px;
	background-color: rgba(255,255,255,0.6);
	cursor:pointer;
}
div#html5playercontrolbar > #progress > #progress-left{
	width:0%;
	background-color: #8CEA00;
	height: 100%;
}
.ytp-svg-shadow{
	stroke: #000;
	stroke-opacity: .15;
	stroke-width: 2px;
	fill:none;
}
.ytp-svg-fill{
	fill: #fff;
}
#progress div,#volume div,#mute svg path,#playpausebtn svg path{
	transition: all .3s ease-out;
	-webkit-transition:all .3s ease-out;
} */