#playerContent video::-webkit-media-controls-enclosure {
    display: none !important;
}
div#playerContent{
	width: 100%;
    height: 100%;
    background-color: #999;
	position: relative;
	z-index: 1;
}
div#playerContent video{
	position: absolute;
	top:0px;
    width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(10,10,10,0.8);
}
div#playerControl{
	z-index: 100;
    width:auto;
    height: auto;
    position: absolute;
	height:200px;
	/* top:0px;  */
	bottom: 0px;
    left:0px;
	right:0px;
	/* background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0)); */
}
.play-btn {
	width: 42px;
	height:42px;
	padding: 0px;
	position: absolute;
	bottom: 6px;
	left: 12px;
	background-color: transparent;
	border:0px;
	cursor:pointer;
	outline:none;
}
.play-progress {
	width: auto;
    height: 3px;
    background-color: #999;
	background-origin: content-box;
    position: absolute;
	left:12px;
	right: 12px;
    bottom: 37px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.play-progress div {
	width: 30%;
	height: 100%;
	display: block;
	background-color: #8CEA00;
	cursor: pointer;
}
.play-time {
	display: block;
	width: auto;
	position: absolute;
	left: 67px;
	bottom: 1px;
	height: 42px;
	line-height: 42px;
	font-size: 24px;
	font-family: sans-serif;
	user-select: none;
	color: #999;
	cursor: default;
}
.play-time div {
	display: inline;
}
.play-mute {
	height: 46px;
	width: 46px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	left: 200px;
	cursor: pointer;
}
.play-volume {
	display: block;
	width: 100px;
	height: 3px;
	position: absolute;
	left: 250px;
	bottom: 22px;
	background-color: #999;
	cursor: pointer;
}
.play-volume div{
	display: block;
	height:100%;
	background-color: #8CEA00;
	width: 50%;
}
.play-fullscreen {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 12px;
	padding: 0px;
}
.ytp-svg-shadow{
	stroke: #999;
	stroke-opacity: .15;
	stroke-width: 2px;
	fill:none;
}
.ytp-svg-fill{
	fill: #eee;
}
.play-btn svg path,.play-fullscreen svg path,.play-mute svg path,.play-progress div,.play-volume div{
	transition: all .3s ease-out;
}